@media (max-width: 992px){
	.navbar-custom .nav-item .nav-link {
		padding: 0.25rem 0.75rem 0.25rem 0.75rem;
		color: #000;
		opacity: 0.8;
	}
	body.dark-theme .navbar-custom .nav-item .nav-link {
		padding: 0.25rem 0.75rem 0.25rem 0.75rem;
		color: #fff;
		opacity: 0.8;
    }
    p.Form-title{
        margin-bottom: 0.5%;
        font-size: 2rem !important;
        
    }

	p {
        font-size:30px;
    }
    h1 {
        font-size:2rem;
        padding: 5px;
        
    }
    h1.Form-title{
        margin-bottom: -15%;
    }
    
    .precaution-data{
        font-size: 0.9rem;
    }
    
    p.popup-phrase {
        font-size:0.6rem;
        margin: 10px 0 5px;
    }
    
    span.form-bottom-title {
        font-size: 12px;
        color: #000;
    }
    
    a.popup-links {
        font-size: 0.6rem;
        margin: 4% 0;
    }
    
    button.popup-button {
       
        font-size: 0.5rem;
        padding: 6px 23px;
    }
  
    
    .login-form {
       
        padding: 0 0.5rem;
        height: 90%;
    }
    
    input.popup-form {
       
        padding: 4px 10px;
        margin: 8px 0;
        font-size: 10px;
    }
   
    
    .container-card {
        width: 768px;
        max-width: 93%;
        max-height: 180px;
        overflow: hidden;   
    }

    .social-container a.social {
        margin: 0 0px;
        
    }
    
    .cards-2 .card{
        margin-left: 23.6% !important;
        margin-right: 23.6% !important;
        align-self: center;
    }
    .search__container {
        padding-top: 64px;
        width: 70%;
        margin-left: 15%;
        margin-right:15% ;
        margin-bottom: -2% !important;
      }
    .india-graph{
        margin-left: 2%;
        margin-right: 2%;
    }

    body.dark-theme .navbar-custom .nav-item .nav-link{
        color: #fff !important;
    }
    .world-graph{
        margin-left: 1%;
        margin-right: 1%;
        
    }
    #chartContainer{
        height: 370px;
        width: 100%;
    }

   

     
}